.news-content
    .news-posts
        each val, index in news
            .news-post
                h2=news[index].title
                p=news[index].content
                p="Publisher: " + news[index].publisher
                p=news[index].date
    .news-social-media
        h2
            img(src=facebook.picture, style="vertical-align:middle; padding-right: 15px; vertical-align: top;")
            =facebook.name
        each val, index in facebook.posts.data
            .fb-post
                p=facebook.posts.data[index].message
