mixin requiredinput(t, ph, n)
    .requiredInput
        input(class="required", type=type, placeholder=ph, name=n)
        span
    
html
    head
        link(href="/stylesheets/register_form.css", type="text/css", rel="stylesheet")
        title #{title}
    body
        h1 #{error}
        .form
          form(class="register-form", action="/join", method="post")
            +requiredinput("text", "Email", "username")
            +requiredinput("text", "Lösenord", "password")
            
            button(id="submit") create
            p.message Already registered? 
              a(href='#') Sign In
      script(src="/javascripts/element-validator.js")